@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/InterTight-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/InterTight-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/InterTight-Bold.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    'Inter Tight',
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
