.container {
  max-width: 42rem;
  padding: 0 1rem;
  margin: 0rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.showcaseCardTags {
  padding: 8px 0 0 0 ;
}

.siteFooter {
  padding: 32px 0 0 0 ;
}

.horizontalContainer{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.showcaseCard{
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

.showcaseCardImage {
  width: 256px;
  height: auto;
  max-height: 196px;
  object-fit: cover;
}

.showcaseCardData {
  padding: 10px;
}

/* Изменение стилей под мобильную верстку */
@media (max-width: 768px) {
  .showcaseCard {
    flex-direction: column;
  }
  
  .showcaseCardImage {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: auto;
    max-height: none;
  }

  .showcaseCardData {
    text-align: center;
    border-radius: 0 0 5px 5px;
  }

  .showcaseCardTags {
    display: none;
  }
}

.button {
  height: 40px;
  padding: 0px;
  border: none;
  outline: none;
  border-radius: 5px; 
  overflow: hidden; 
  cursor: pointer;
}

.buttonIcon {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.tooltip {
  background-color: white;
  border: 1px solid black;
  padding: 4px;
}